/* Search Result */
.result-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

/* Book thumbnails */
.thumbnails {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 8px 16px -12px rgba(30, 30, 60, 0.25);
}

/* Loading Spinner */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  margin: 0 auto;
  border: 16px solid rgb(230, 229, 229);
  border-top: 16px solid rgb(31, 33, 36);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spinner 2s linear infinite;
}

/* Keyframes */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
