/* Search Result */
.result-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.thumbnails {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 8px 16px -12px rgba(30, 30, 60, 0.25);
}
